In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
import matplotlib.pyplot as plt

In [2]:
churnData = pd.read_csv('churn.csv')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [26]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [27]:
#pd.DataFrame.dropna?
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

In [28]:
churnData['TotalCharges'].dtype

dtype('float64')

In [29]:
len(churnData['TotalCharges'])

7043

In [30]:
churnData['TotalCharges'].dtype

dtype('float64')

In [31]:
# tenure, SeniorCitizen, MonthlyCharges and TotalCharges
numeric_df= pd.DataFrame(churnData[['tenure','MonthlyCharges', 'TotalCharges','SeniorCitizen']])

In [32]:
numeric_df.dtypes

tenure              int64
MonthlyCharges    float64
TotalCharges      float64
SeniorCitizen       int64
dtype: object

In [33]:
print(len(numeric_df))
numeric_df.isna().sum()

7043

tenure             0
MonthlyCharges     0
TotalCharges      11
SeniorCitizen      0
dtype: int64

In [34]:
numeric_df.dropna(inplace=True)

In [35]:
len(numeric_df)

7032

In [36]:
scaler = StandardScaler()

In [37]:
numeric_df = scaler.fit_transform(numeric_df)

In [38]:
numeric_df

array([[-1.28024804, -1.16169394, -0.99419409, -0.44032709],
       [ 0.06430269, -0.26087792, -0.17373982, -0.44032709],
       [-1.23950408, -0.36392329, -0.95964911, -0.44032709],
       ...,
       [-0.87280842, -1.17000405, -0.85451414, -0.44032709],
       [-1.15801615,  0.31916782, -0.87209546,  2.27103902],
       [ 1.36810945,  1.35793167,  2.01234407, -0.44032709]])

In [39]:
numeric_df = pd.DataFrame(numeric_df, columns=['tenure','MonthlyCharges', 'TotalCharges','SeniorCitizen'])

In [40]:
numeric_df

        tenure  MonthlyCharges  TotalCharges  SeniorCitizen
0    -1.280248       -1.161694     -0.994194      -0.440327
1     0.064303       -0.260878     -0.173740      -0.440327
2    -1.239504       -0.363923     -0.959649      -0.440327
3     0.512486       -0.747850     -0.195248      -0.440327
4    -1.239504        0.196178     -0.940457      -0.440327
...        ...             ...           ...            ...
7027 -0.343137        0.664868     -0.129180      -0.440327
7028  1.612573        1.276493      2.241056      -0.440327
7029 -0.872808       -1.170004     -0.854514      -0.440327
7030 -1.158016        0.319168     -0.872095       2.271039
7031  1.368109        1.357932      2.012344      -0.440327

[7032 rows x 4 columns]

In [41]:
churnData['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [42]:
mask1 = (churnData['Churn'] == 'No')
mask2 = (churnData['Churn'] == 'Yes')

churnData['Churn'][mask1] = 0
churnData['Churn'][mask2] = 1
churnData['Churn'] = churnData['Churn'].astype('int')

<ipython-input-42-e1bdf20a1d6b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churnData['Churn'][mask1] = 0
<ipython-input-42-e1bdf20a1d6b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churnData['Churn'][mask2] = 1

In [43]:
from sklearn.model_selection import train_test_split
X = numeric_df
churnData.dropna(inplace=True)
y = churnData['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 42)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [50]:
classifier.score(X_test, y_test)

0.7803837953091685

In [51]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [52]:
churnData = pd.read_csv('churn.csv')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [53]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

In [54]:
churnData.dropna(inplace=True)

In [55]:
numeric_df= pd.DataFrame(churnData[['tenure','MonthlyCharges', 'TotalCharges','SeniorCitizen']])