In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
import matplotlib.pyplot as plt

In [2]:
churnData = pd.read_csv('churn.csv')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [26]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [27]:
#pd.DataFrame.dropna?
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

In [28]:
churnData['TotalCharges'].dtype

dtype('float64')

In [29]:
len(churnData['TotalCharges'])

7043

In [30]:
churnData['TotalCharges'].dtype

dtype('float64')

In [31]:
# tenure, SeniorCitizen, MonthlyCharges and TotalCharges
numeric_df= pd.DataFrame(churnData[['tenure','MonthlyCharges', 'TotalCharges','SeniorCitizen']])

In [32]:
numeric_df.dtypes

tenure              int64
MonthlyCharges    float64
TotalCharges      float64
SeniorCitizen       int64
dtype: object

In [33]:
print(len(numeric_df))
numeric_df.isna().sum()

7043

tenure             0
MonthlyCharges     0
TotalCharges      11
SeniorCitizen      0
dtype: int64

In [34]:
numeric_df.dropna(inplace=True)

In [35]:
len(numeric_df)

7032

In [36]:
scaler = StandardScaler()

In [37]:
numeric_df = scaler.fit_transform(numeric_df)

In [38]:
numeric_df

array([[-1.28024804, -1.16169394, -0.99419409, -0.44032709],
       [ 0.06430269, -0.26087792, -0.17373982, -0.44032709],
       [-1.23950408, -0.36392329, -0.95964911, -0.44032709],
       ...,
       [-0.87280842, -1.17000405, -0.85451414, -0.44032709],
       [-1.15801615,  0.31916782, -0.87209546,  2.27103902],
       [ 1.36810945,  1.35793167,  2.01234407, -0.44032709]])

In [39]:
numeric_df = pd.DataFrame(numeric_df, columns=['tenure','MonthlyCharges', 'TotalCharges','SeniorCitizen'])

In [40]:
numeric_df

        tenure  MonthlyCharges  TotalCharges  SeniorCitizen
0    -1.280248       -1.161694     -0.994194      -0.440327
1     0.064303       -0.260878     -0.173740      -0.440327
2    -1.239504       -0.363923     -0.959649      -0.440327
3     0.512486       -0.747850     -0.195248      -0.440327
4    -1.239504        0.196178     -0.940457      -0.440327
...        ...             ...           ...            ...
7027 -0.343137        0.664868     -0.129180      -0.440327
7028  1.612573        1.276493      2.241056      -0.440327
7029 -0.872808       -1.170004     -0.854514      -0.440327
7030 -1.158016        0.319168     -0.872095       2.271039
7031  1.368109        1.357932      2.012344      -0.440327

[7032 rows x 4 columns]

In [41]:
churnData['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [42]:
mask1 = (churnData['Churn'] == 'No')
mask2 = (churnData['Churn'] == 'Yes')

churnData['Churn'][mask1] = 0
churnData['Churn'][mask2] = 1
churnData['Churn'] = churnData['Churn'].astype('int')

<ipython-input-42-e1bdf20a1d6b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churnData['Churn'][mask1] = 0
<ipython-input-42-e1bdf20a1d6b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churnData['Churn'][mask2] = 1

In [43]:
from sklearn.model_selection import train_test_split
X = numeric_df
churnData.dropna(inplace=True)
y = churnData['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 42)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [50]:
classifier.score(X_test, y_test)

0.7803837953091685

# Evaluate models with sampling

In [37]:
# sadece hocanin verdigi colonlari kullanacagiz model icin

In [92]:
churnData = pd.read_csv('churn.csv', header=0
                        , usecols=['tenure', 'MonthlyCharges', 'TotalCharges','SeniorCitizen', 'Churn'])

In [93]:
churnData.dtypes

SeniorCitizen       int64
tenure              int64
MonthlyCharges    float64
TotalCharges       object
Churn              object
dtype: object

In [94]:
churnData.head()

   SeniorCitizen  tenure  MonthlyCharges TotalCharges Churn
0              0       1           29.85        29.85    No
1              0      34           56.95       1889.5    No
2              0       2           53.85       108.15   Yes
3              0      45           42.30      1840.75    No
4              0       2           70.70       151.65   Yes

In [95]:
# featureleri ayiralim

In [96]:
X = churnData.iloc[:, :-1]

In [97]:
X

      SeniorCitizen  tenure  MonthlyCharges TotalCharges
0                 0       1           29.85        29.85
1                 0      34           56.95       1889.5
2                 0       2           53.85       108.15
3                 0      45           42.30      1840.75
4                 0       2           70.70       151.65
...             ...     ...             ...          ...
7038              0      24           84.80       1990.5
7039              0      72          103.20       7362.9
7040              0      11           29.60       346.45
7041              1       4           74.40        306.6
7042              0      66          105.65       6844.5

[7043 rows x 4 columns]

In [98]:
X.dtypes

SeniorCitizen       int64
tenure              int64
MonthlyCharges    float64
TotalCharges       object
dtype: object

In [99]:
# TotalCharges colonunu numeric veriye cevirdik

In [100]:
X['TotalCharges'] = pd.to_numeric(X['TotalCharges'], errors='coerce')

In [101]:
X['TotalCharges'].head()

0      29.85
1    1889.50
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: float64

In [102]:
# null valueleri doldurduk

In [103]:
X['TotalCharges'].isna().sum()

11

In [104]:
X['TotalCharges'].fillna(method='ffill', inplace=True)

In [105]:
X.isna().sum()

SeniorCitizen     0
tenure            0
MonthlyCharges    0
TotalCharges      0
dtype: int64

In [106]:
X.dtypes

SeniorCitizen       int64
tenure              int64
MonthlyCharges    float64
TotalCharges      float64
dtype: object

In [107]:
# target degiskeni ayirdik

In [108]:
y = churnData.iloc[:, -1]

In [109]:
y.head()

0     No
1     No
2    Yes
3     No
4    Yes
Name: Churn, dtype: object

In [110]:
y = pd.get_dummies(y, drop_first=True)

In [111]:
y.columns = ['response']

In [112]:
y.head()

   response
0         0
1         0
2         1
3         0
4         1

In [113]:
y.dtypes

response    uint8
dtype: object

In [114]:
y.value_counts()

response
0           5174
1           1869
dtype: int64

In [115]:
5174/ len(y)

0.7346301292063041

In [116]:
# verinin 73 u, 0 categorisine ait, yani imbalanced data

In [117]:
data = pd.concat([X, y], axis = 1)

In [118]:
data.head()

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges  response
0              0       1           29.85         29.85         0
1              0      34           56.95       1889.50         0
2              0       2           53.85        108.15         1
3              0      45           42.30       1840.75         0
4              0       2           70.70        151.65         1

In [120]:
category_0 = data[data['response'] == 0]
category_1 = data[data['response'] == 1]

In [57]:
# downsampling

In [121]:
category_0_down = category_0.sample(len(category_1,))

In [122]:
data = pd.concat([category_0_down, category_1], axis=0, ignore_index=True)
#shuffling the data
data = data.sample(frac=1)
data['response'].value_counts()

0    1869
1    1869
Name: response, dtype: int64

In [123]:
data.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges  response
3050              0       1           84.30         84.30         1
1781              1      70           19.55       1462.05         0
3366              0       1           70.25         70.25         1
3711              1      13           82.00       1127.20         1
552               0      72          115.50       8425.15         0

In [125]:
data = data.reset_index().drop('index', axis=1)

In [126]:
data.head()

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges  response
0              0       1           84.30         84.30         1
1              1      70           19.55       1462.05         0
2              0       1           70.25         70.25         1
3              1      13           82.00       1127.20         1
4              0      72          115.50       8425.15         0

In [127]:
data['response'].value_counts()

0    1869
1    1869
Name: response, dtype: int64

In [128]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [129]:
scaler = StandardScaler()

In [130]:
X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

In [131]:
X.head()

   SeniorCitizen    tenure  MonthlyCharges  TotalCharges
0      -0.493051 -1.104770        0.566882     -0.889810
1       2.028187  1.777941       -1.675038     -0.259674
2      -0.493051 -1.104770        0.080412     -0.896236
3       2.028187 -0.603429        0.487246     -0.412823
4      -0.493051  1.861498        1.647159      2.925006

In [132]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [133]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [134]:
logistic_regressor = LogisticRegression(random_state=42)

In [135]:
logistic_regressor.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [137]:
logistic_regressor.score(X_test, y_test)

0.7540106951871658

# Upsampling

In [156]:
churnData = pd.read_csv('churn.csv', header=0
                        , usecols=['tenure', 'MonthlyCharges', 'TotalCharges','SeniorCitizen', 'Churn'])

In [157]:
X = churnData.iloc[:, :-1]
y = churnData.iloc[:, -1]

In [158]:
X['TotalCharges'] = pd.to_numeric(X['TotalCharges'], errors='coerce')

In [159]:
X['TotalCharges'].fillna(method='bfill', inplace=True)

In [160]:
y = pd.get_dummies(y, drop_first=True)
y.columns = ['response']

In [161]:
data = pd.concat([X, y], axis = 1)

In [162]:
category_0 = data[data['response'] == 0]
category_1 = data[data['response'] == 1]

In [163]:
category_1_up = category_1.sample(len(category_0), replace=True)
print(category_1_up.shape)

(5174, 5)

In [164]:
category_0.shape

(5174, 5)

In [165]:
data = pd.concat([category_0, category_1_up], axis=0, ignore_index=True)
#shuffling the data
data = data.sample(frac=1)
data['response'].value_counts()

0    5174
1    5174
Name: response, dtype: int64

In [166]:
data = data.reset_index().drop('index', axis=1)

In [167]:
data.head()

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges  response
0              0       4           44.80        176.20         0
1              0       7           99.80        673.25         1
2              0      72           19.40       1496.45         0
3              0      71           25.55       1898.10         0
4              0      15           30.20        469.65         0

In [168]:
X = data.iloc[:, :-1]

In [169]:
y = data.iloc[:, -1]

In [170]:
scaler = StandardScaler()

In [171]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [172]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [173]:
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns=X.columns)

In [176]:
regressor = LogisticRegression(random_state=42)

In [177]:
regressor.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [178]:
regressor.score(X_test, y_test)

0.7410628019323672